.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid black;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
  padding: 0.2rem 0.4rem;
  outline: none;
}

input:hover {
  background-color: #e6e6e6;
}

input:focus {
  background-color: #f2ff00;
}

button {
  border-radius: 0.2rem;
  margin-right: 0.5rem;
  background-color: #e8e8e8;
  border: 1px solid black;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
}